server:
  port: 8080

spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      generate-ddl: false
      hibernate:
        format_sql: true
  web:
    error:
      include-message: always

apisis:
  base-url: https://apisis.dev/api
  api-key: ${APISIS_API_KEY}

public-data:
  base-url: http://apis.data.go.kr
  service-key: ${PUBLIC_DATA_SERVICE_KEY}